body {
    text-align: center;
}

.congrats {
    width: 500px;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    text-align: center;
    display: none;
}

.replay {
    font-size: 15px;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    background: #5dad8c;
    display: inline-block;
    border-radius: 4px;
}

h2 {
    margin-bottom: 0px;
}

h1 {
    margin-top: 0px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}